* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #060ab2
}
header {
  margin-top: 10px;
}
.logo-container {
  color: yellow;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.logo-container img {
  width: 150px;
}
.memory-game {
  /*width: 640px;
  height: 640px;*/
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 35px;

  display: flex;
  flex-wrap: wrap;
  /*border: 2px solid lime;*/
  perspective: 1000px;
}
.memory-card {
  position: relative;
  /*width: calc(25% - 10px);
  height: calc(33.333% - 10px);*/
  width: calc(15% - 10px);
  height: calc(35.333% - 10px);
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}
.memory-card:active {
  transform: scale(.97);
  transition: transform .2s;
}
/*img {
  width: 100%;
}*/
.memory-card.flip {
  transform: rotateY(180deg);
}
.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  border: 2px solid grey;
  border-radius: 5px;
  background: rgb(3,108,252);
background: linear-gradient(180deg, rgba(3,108,252,1) 0%, rgba(109,198,251,1) 50%, rgba(3,108,252,1) 100%);
  backface-visibility: hidden;
}
.front-face {
  transform: rotateY(180deg);
  background: white;
}
